In [44]:
# Python Operators
Operators are used to perform operations on variables and values.
* Arithmetic operators
* Assignment operators
* Comparison operators
*  Logical operators
* Identity operators
* Membership operators
* `mBitwise operators

In the example below, we use the + operator to add together two values:
    >img src ="./Class 4 picture.png"<

SyntaxError: invalid syntax (2568203804.py, line 2)

In [19]:
 #  opd opr opd
print (2  +  2)# 4 addition operation
print(7  +  6)#13 addition operation

4
13

In [20]:
num1= 3
num2= 5
print(num1  +   num2)

8

In [21]:
num1= "3" # int
num2= 5  # str
print(f"num1:{type(num1)}  num2: {type(num2)}")
print(num1  +   num2)

num1:<class 'str'>  num2: <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [22]:
l1 = ['a','b','c',]
l2 = [1,2,3]
print(f"num1:{type(l1)}  num2: {type(l2)}")
print(l1,l2)
print(l1  +   l2)

num1:<class 'list'>  num2: <class 'list'>
['a', 'b', 'c'] [1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [9]:
x ="""
Operator	Name	Example	Try it
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y	"""
print(x)

Operator	Name	Example	Try it
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y

In [10]:
x = 10 # int
y = 7 # int
print(x/y) # float

1.4285714285714286

In [15]:
x = 2
y = 3
print(x**y)
print(2**3)

8
8

In [23]:
print(8/2)
print(8//2)
print(7/3)
print(7//3)

4.0
4
2.3333333333333335
2

# Python Assignment Operators
Assignment operators are used to assign values to variables:

In [28]:
a = 5
print(a)
print(a)

5
5

In [29]:
a = 5  # Assign new value
print(a)
a = 8  # overwrit old value
print(a)
a = 7   # 7
print(a)
a = 4    # 5
print(a)

5
8
7
4

In [32]:
a = 8
print(a)
a -= 1
print(a) # new way
a -= 1
print(a) # old

8
7
6

In [34]:
a = 8
print(a)
a *= 2
print(a) # new way
a *= 6
print(a)

8
16
96

In [35]:
a = 8
print(a)
a //= 2
print(a) # new way
a /= 6
print(a)

8
4
0.6666666666666666

In [38]:
x = 65
x = x & 66
print(x)

64

In [39]:
x = 01000001
y = 01000001
z = 01000001

a = 01000001 # new code

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3166245107.py, line 1)

# Python Comparison Operators
Comparison operators are used to compare two values:

In [45]:
a = 5
b = 7
print(a==b)

False

In [46]:
a = 5
b = 5
print(a==b)

True

In [49]:
a = 5
b = 5
print(a<=b)

True

In [48]:
a = 5
b = 7
print(a>b)

False

In [50]:
a = 5
b = 5
print(a>=b)

True

In [51]:
a = 5
b = 5
# 5      5 
print(a!=b)

False

In [54]:
a = 'Hashir'
b = 'Hashir'
print(a==b)

True

In [55]:
a = 'Hashir'
b = '7'
print(a> b)

True

In [59]:
ord('8')

56

In [60]:
ord('g')

103

In [61]:
a = '66'
b = '66'
print(a==b)
print(a>b)
print(a<b)

True
False
False

# Python Logical Operators
Logical operators are used to combine conditional statements:

In [64]:
#      l    op  l   op   l   op   l 
print(True and True and True and True) # true
print(True and True and False and True)# false
print(False and False and True and True) # false

True
False
False

In [66]:
#   l    op  l   op   l   op   l 
print(True or True or True or True) # true
print(True or True or False or True)# true
print(False or False or False or False) # false

True
True
False

In [68]:
not True # not make statement wrong

False

In [71]:
password = input("enter your password")
print(password=='abc') #Fasle
print(not password=='abc')#True
print(not True)#Fasle
print( not False) #True
print(password)

enter your passwordHeaven
False
True
False
True
Heaven

# shallow copy

In [73]:
a = 5
b = 5
c = 5
print(id(a),id(b),id(c))
print(a)
print(b)
print(c)

2335720696240 2335720696240 2335720696240
5
5
5

In [74]:
a = 5
b = '5'
print(id(a),id(b))

2335720696240 2335726605872

In [75]:
a is b

False

# Deep copy

In [78]:
name1 = ["Hashir"]
student = name1.copy() #deep copy

print(name1, student)
print(id(name1), id(student))
print(name1==student)
print(name1 is student)

['Hashir'] ['Hashir']
2335837590464 2335837532736
True
False

In [79]:
name1 = ["Hashir"]
student = name1.copy() #deep copy

print(name1, student)
print(id(name1), id(student))
print(name1==student)
print(name1 is not student)

['Hashir'] ['Hashir']
2335837579776 2335836555776
True
True

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object

In [82]:
message = "land is green "
print('green'in message)
print('green' not in message)

True
False

In [84]:
name = ['hashir','hamza', 'raza']
print('hamza'in name)
print('Sam'in name)

True
False

In [85]:
name = ['hashir','hamza', 'raza']
print('hamza'in name)
print('Sam' not in name)

True
True