# List Data Type
* start with []

In [1]:
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
print(names)

['Alif', 'kashisf', 'hamza', 1000, 2000, 3000, True]

In [6]:
# ---->   0        1          2       3      4    5   6
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
# <---    -7        -6        -5     -4    -3   -2   -1
print(names[2])
print(names[-5])
print(names[4], names[-3])

hamza
hamza
2000 2000

In [8]:
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
print(names[5])
print(names[-3])

3000
2000

# old programming code style for printing all array values

In [9]:
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
counter = 0
while counter < len(names):
    print(names[counter])
    counter += 1

Alif
kashisf
hamza
1000
2000
3000
True

In [11]:
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
counter = 1
while counter < 6:
    print(names[counter])
    counter += 1

kashisf
hamza
1000
2000
3000

# now print with python ic Style

In [16]:
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]

for name in names
print(names)

SyntaxError: invalid syntax (1351345521.py, line 3)

# Slicing

In [17]:
# ---->   0        1          2       3      4    5   6
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
# <---    -7        -6        -5     -4    -3   -2   -1
print(names[1:6])
print(names[1:6:1])

['kashisf', 'hamza', 1000, 2000, 3000]
['kashisf', 'hamza', 1000, 2000, 3000]

In [21]:
# ---->   0        1          2       3      4    5   6
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
# <---    -7        -6        -5     -4    -3   -2   -1
print(names[::1])
print(names[::2])
print(names[::3])

['Alif', 'kashisf', 'hamza', 1000, 2000, 3000, True]
['Alif', 'hamza', 2000, True]
['Alif', 1000, True]

In [22]:
# ---->   0        1          2       3      4    5   6
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
# <---    -7        -6        -5     -4    -3   -2   -1
print(names[::-1])

[True, 3000, 2000, 1000, 'hamza', 'kashisf', 'Alif']

In [26]:
# ---->   0        1          2       3      4    5   6
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
# <---    -7        -6        -5     -4    -3   -2   -1
print(names[4:-7])
print(names[4:-7:-1])
print(names[-7:4])

print(names[5:-7:-1])

[]
[2000, 1000, 'hamza', 'kashisf']
['Alif', 'kashisf', 'hamza', 1000]
[3000, 2000, 1000, 'hamza', 'kashisf']

In [42]:
# ---->   0        1          2       3      4    5    6
names = ['Alif', "kashisf", 'hamza', 1000, 2000,3000,True]
# <---    -7        -6        -5     -4    -3   -2   -1
print(names[-3:])
print(names[0:3])
print(names[0:3:1])
print(names[0:3:1])

[2000, 3000, True]
['Alif', 'kashisf', 'hamza']
['Alif', 'kashisf', 'hamza']
['Alif', 'kashisf', 'hamza']

# Apply operators on list data type

In [39]:
l1 = ['pakistan',2000,3000]
l2 = ['abc','xyz']
l1 + l2

['pakistan', 2000, 3000, 'abc', 'xyz']

In [40]:
l1 * 4

['pakistan',
 2000,
 3000,
 'pakistan',
 2000,
 3000,
 'pakistan',
 2000,
 3000,
 'pakistan',
 2000,
 3000]

In [43]:
"Pakistan" * 5

'PakistanPakistanPakistanPakistanPakistan'

# List data type methods

In [45]:
[ i for i in dir(list) if "_" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [46]:
names = []
names.append("Asif")
names.append("Hamza")
names.append("Kashif")
print(names)

['Asif', 'Hamza', 'Kashif']

In [47]:
names [-1]

'Kashif'

In [52]:
l1 = ['pakistan',2000,3000]
print(l1)
l1.clear()

print(l1)

['pakistan', 2000, 3000]
[]

In [53]:
l1 = ['pakistan',2000,3000]
l1 = l2
l2[1] = 4000

print(l1)
print(l2)

['abc', 4000]
['abc', 4000]

In [55]:
l1 = ['pakistan',2000,3000]
l2 = l1.copy()
l2[1] = 4000

print(l1)
print(l2)

['pakistan', 2000, 3000]
['pakistan', 4000, 3000]

In [59]:
l1 = ['a','b','c','a','x','x']
l1.count("x")

2

In [61]:
names = []
names.append("Asif")
names.append("Hamza")
names.extend([1,2,3])
print(names)

['Asif', 'Hamza', 1, 2, 3]

In [64]:
l1 = [1,2,3,4]
l2 = ['a','b','c','d']
l1 + l2
l1.extend(l2)
print(l1,l2)

[1, 2, 3, 4, 'a', 'b', 'c', 'd'] ['a', 'b', 'c', 'd']

In [76]:
l1 = ['a','b','c','a','x','x']
l1.index('x')
l1.index('a',3)
print(l1.index('x'))
print(l1.index('a',3))

4
3

In [77]:
l1 = ['a','b','c','a','x','x']
l1.insert(1,'Pakistan')
print(l1)

['a', 'Pakistan', 'b', 'c', 'a', 'x', 'x']

In [81]:
l1 = ['a','b','c','a','x','x']
l1.pop()
print(l1)
l1.pop()
print(l1)
l1.pop()
print(l1)
l1.pop(0)
print(l1)

['a', 'b', 'c', 'a', 'x']
['a', 'b', 'c', 'a']
['a', 'b', 'c']
['b', 'c']

In [83]:
l1 = ['a','b','c','a','x','x']
l2 = []
l2.append(l1.pop())
print(l1)
l2.append(l1.pop())
print(l1)
l2.append(l1.pop())
print(l1)
l2.append(l1.pop(0))
print(l1)
print("completed list",l2)

['a', 'b', 'c', 'a', 'x']
['a', 'b', 'c', 'a']
['a', 'b', 'c']
['b', 'c']
completed list ['x', 'x', 'a', 'a']

In [84]:
l1 = ['a','b','c','a','x','x']
l1.sort()

print(l1)

['a', 'a', 'b', 'c', 'x', 'x']

In [85]:
l1 = ['a','b','c','a','x','x']
l1.reverse()

print(l1)

['x', 'x', 'a', 'c', 'b', 'a']

In [86]:
l1 = ['a','b','c','a','x','x']
l1.sort()
l1.reverse()

print(l1)

['x', 'x', 'c', 'b', 'a', 'a']

In [ ]:
l1 = ['a','b','c','a','x','x']
l1.sort(reverse)
print(l1)

# Remove value from list search with string

In [ ]:
l1 = ['a','b','c','a','x','x']

remove_item = input("Enter item: ")
index = l1.index(remove_item)
print(remove_item,type(remove_item))
print(indx,type(indx))
l1.pop(indx)

print(l1)

In [ ]:
l1 = ['a','b','c','a','x','x']
remove_item = input("Enter item: ")


l1.remove(remove_item)
print(l1)

In [ ]:
i for ['a','b','c','a','x','x']
print(i)