# Linear programming

# Structural Programming

In [5]:
for num in range(1,11):
    print("Pakistan Zindabad!")

Pakistan Zindabad!
Pakistan Zindabad!
Pakistan Zindabad!
Pakistan Zindabad!
Pakistan Zindabad!
Pakistan Zindabad!
Pakistan Zindabad!
Pakistan Zindabad!
Pakistan Zindabad!
Pakistan Zindabad!

# Controll_block
* if
 * else
 * elif
* for/while
  * break
  * continunue
  * pass

# IF

In [6]:
print("Pakistan Zindabad!")
print("America")

Pakistan Zindabad!
America

In [7]:
if True:
    print("Pakistan Zindabad!")
else:
    print("America")

Pakistan Zindabad!

In [8]:
if False:
    print("Pakistan Zindabad!")
else:
    print("America")

America

In [14]:
num = int(input("Enter any number: "))
print(num,type(num))
print(num % 2)
print(num % 2 == 0)

Enter any number: 2000
2000 <class 'int'>
0
True

In [19]:
num = int(input("Enter any number: "))

if num % 2 == 0:
    print(f"the {num} is Even!")
else:
    print(f"the {num} is old!")

Enter any number: 2000
the 2000 is Even!

In [20]:
num = int(input("Enter any number: "))
print(num,type(num))
print(num % 2)
print(num % 2 == 0)
print(0 == 0)

Enter any number: 146
146 <class 'int'>
0
True
True

In [23]:
per = int(input("Enter your percentage: "))

if per >= 80:  # 1
    print("A+")
elif per >= 70:  # 2
    print("A")
elif per >= 60:  # 3
    print("B")
elif per >= 50:  # 4
    print("C")
elif per >= 40:  # 5
    print("P")
elif per >= 33:  # 6
    print("F")

print("Pakistan Zindabad!")

Enter your percentage: 45
P
Pakistan Zindabad!

In [25]:
per = 66

if False >= 80:  # 1
    print("A+")
elif False >= 70:  # 2
    print("A")
elif True >= 60:  # 3
    print("B")
elif 66 >= 50:  # 4
    print("C")
elif 66 >= 40:  # 5
    print("P")
elif 66 >= 33:  # 6
    print("F")

print("Pakistan Zindabad!")

C
Pakistan Zindabad!

In [26]:
per = int(input("Enter percentage: "))

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")

Enter percentage: 89
Fail

In [27]:
True and True and True

True

In [28]:
per = int(input("Enter percentage: "))

if per >= 0 and per <= 33:
    print("Fail")
elif per >= 33 and per <= 40:
    print("E")
elif per >= 40 and per <= 50:
    print("D")
elif per >= 50 and per <= 60:
    print("C")
elif per >= 60 and per <= 70:
    print("B")
elif per >= 70 and per <= 80:
    print("A")
elif per >= 80 and per <= 100:
    print("A+")

Enter percentage: 76
A

In [32]:
user_name = input("Enter user name")
password = input("Enter your password")

if user_name == 'Admin' and password == 'Admin':
    print("Valid User")
else:
    print("invalid User")

Enter user nameAdmin
Enter your passwordAdmin
Valid User

In [34]:
user_name = input("Enter user name")
password = input("Enter your password")

print("valid user") if user_name.lower() == 'admin' and password == 'Admin' else  print("invalid User")

Enter user namehashir
Enter your passwordHashir
invalid User

In [42]:
user_name = input("Enter user name")
password = input("Enter your password")

if user_name.lower() == 'admin',
    if password == 'Admin':
    print("Valid User")
else:
    print("invalid User")

IndentationError: unexpected indent (2223247517.py, line 4)

# loop

In [43]:
abc = "Pakistan Zindabad!"
for i in abc:
    print(i)

P
a
k
i
s
t
a
n

Z
i
n
d
a
b
a
d
!

In [45]:
list(enumerate(['a','b','c','d',1,2,3,'abc','xyz']))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 1),
 (5, 2),
 (6, 3),
 (7, 'abc'),
 (8, 'xyz')]

In [49]:
for index, value in enumerate(['abc','a']):
    print(index, value)

0 abc
1 a

In [51]:
list(["Pakistan zindabad!"])

['Pakistan zindabad!']

# ASCII
* 0-9= 48-57
* A-Z = 65-90
* a-z = 97-122

In [52]:
[chr(i) for i in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [53]:
[chr(i) for i in range(65,91)] +
[chr(i) for i in range(97,122)] +
[chr(i) for i in range(48,58)]

SyntaxError: invalid syntax (381006750.py, line 1)

In [54]:
[chr(i) for i in range(65,91)] +\
[chr(i) for i in range(97,122)] +\
[chr(i) for i in range(48,58)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9']

In [56]:
[chr(i) for i in range(48,58) if i % 2 == 0]

['0', '2', '4', '6', '8']

In [57]:
[chr(i) for i in range(65,98) if i % 2 == 0]

['B',
 'D',
 'F',
 'H',
 'J',
 'L',
 'N',
 'P',
 'R',
 'T',
 'V',
 'X',
 'Z',
 '\\',
 '^',
 '`']

In [58]:
[chr(i) for i in range(65,98) if i % 2 != 0]

['A',
 'C',
 'E',
 'G',
 'I',
 'K',
 'M',
 'O',
 'Q',
 'S',
 'U',
 'W',
 'Y',
 '[',
 ']',
 '_',
 'a']

In [59]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [74]:
data = [{'id':1,'name':"Hashir"},
        {'id':2,'name':"Yousuf"},
       {'id':3,'name':"Bilal"}]
for record in data:
    card = """
    Sylani Mass IT training
    Roll: {id}
    Name: {name}""".format_map(record)
    print(card)

    Sylani Mass IT training
    Roll: 1
    Name: Hashir

    Sylani Mass IT training
    Roll: 2
    Name: Yousuf

    Sylani Mass IT training
    Roll: 3
    Name: Bilal

In [76]:
data = [{'id':1,'name':"Hashir",'u':"hashir",'p':"123" },
        {'id':2,'name':"Yousuf",'u':"yousuf",'p':"abc" },
       {'id':3,'name':"Bilal",'u':"Bilal",'p':"xyz" }]
user = input("Enter user name")
password = input("enter your password")

for d in data:
    if d['u'] == user and d['p'] == password:
        print(d)
        break
        
print("invalid user or password")

Enter user nameBilal
enter your passwordxyz
{'id': 3, 'name': 'Bilal', 'u': 'Bilal', 'p': 'xyz'}
invalid user or password

In [88]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [85]:
for i in range(1,1000):
    pass
print(i)

999

# while
* counter
* logic
* loop body
* increment/decrement

In [98]:
counter = 0

while counter <= 99:
    print(counter, 'line')
    counter += 1

0 line
1 line
2 line
3 line
4 line
5 line
6 line
7 line
8 line
9 line
10 line
11 line
12 line
13 line
14 line
15 line
16 line
17 line
18 line
19 line
20 line
21 line
22 line
23 line
24 line
25 line
26 line
27 line
28 line
29 line
30 line
31 line
32 line
33 line
34 line
35 line
36 line
37 line
38 line
39 line
40 line
41 line
42 line
43 line
44 line
45 line
46 line
47 line
48 line
49 line
50 line
51 line
52 line
53 line
54 line
55 line
56 line
57 line
58 line
59 line
60 line
61 line
62 line
63 line
64 line
65 line
66 line
67 line
68 line
69 line
70 line
71 line
72 line
73 line
74 line
75 line
76 line
77 line
78 line
79 line
80 line
81 line
82 line
83 line
84 line
85 line
86 line
87 line
88 line
89 line
90 line
91 line
92 line
93 line
94 line
95 line
96 line
97 line
98 line
99 line

In [99]:
counter = 100

while counter >= 90:
    print(counter,'line')
    counter -= 1

100 line
99 line
98 line
97 line
96 line
95 line
94 line
93 line
92 line
91 line
90 line

In [100]:
counter = 2023

while counter >= 2002:
    print(counter,'Year')
    counter -= 1

2023 Year
2022 Year
2021 Year
2020 Year
2019 Year
2018 Year
2017 Year
2016 Year
2015 Year
2014 Year
2013 Year
2012 Year
2011 Year
2010 Year
2009 Year
2008 Year
2007 Year
2006 Year
2005 Year
2004 Year
2003 Year
2002 Year